@model EquipamentoListView
@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}
<p></p>
<p></p>
<h2>Equipamento</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentEquipamento" class="control-label"></label>
                    <input asp-for="CurrentEquipamento" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                EquipamentoId
            </th>
            <th>
                <a asp-action="Index" asp-route-order="TipoID">TipoId</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Capacidade">Capacidade</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Equipamento)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipamentoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipamentoID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EquipamentoID" class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipamentoID" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar novo equipamento</a>
</p>

<div page-model="@Model.Pagination"></div>