@model ServicoDeEsterelizacao.Models.Esterilizar

@{
    Layout = "Layout";
    ViewData["Title"] = "Delete";
}
<p></p>
<p></p>
<h2>Apagar Estelirizar</h2>

<h3>Tem a certeza que deseja apagar</h3>
<div>
    <h4>Esterilizar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EsterilizarID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EsterilizarID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipamento.TipoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materialcs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materialcs.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EquipamentoID" />
        <input type="hidden" asp-for="MaterialcsID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Voltar atrás</a>
    </form>
</div>
