@model ServicoDeEsterelizacao.Models.Esterilizar

@{
    Layout = "Layout";
    ViewData["Title"] = "Details";
}
<p></p>
<p></p>
<h2>Detalhes</h2>

<div>
    <h4>Esterilizar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EsterilizarID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EsterilizarID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipamento.TipoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipamento.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materialcs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materialcs.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EsterilizarID" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar atrás</a>
</div>
