@model IEnumerable<ServicoDeEsterelizacao.Models.Esterilizar>

@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}
<p></p>
<p></p>
<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EsterilizarID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materialcs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EsterilizarID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipamento.TipoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materialcs.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>