@model RegrasViewList

@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}

<h2>Regras</h2>

<form asp-action="Index">
    <div>
        <h3>Pesquisa</h3>
        <menu>
            <h5>Nome do colaborador:<input style="width:250px;" asp-for="CurrentNome" /></h5>
        </menu>
        <input type="submit" value="Pesquisar" class="btn btn-info" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>

            <th>
                <a asp-action="Index" asp-route-order="Nome">Nome</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Descricao">Descrição</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Regras) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegrasID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.RegrasID" class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.RegrasID" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div page-model="@Model.Pagination"></div>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar nova Regra</a>
</p>