@model ServicoDeEsterelizacao.Models.Colaborador

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do colaborador</h2>

<div>
    <h4>Colaborador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Função:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcao.Nome)
        </dd>
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Contacto:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            E-mail:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Morada:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            Data de Nascimento:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNasc)
        </dd>


        <dt>
            Cc/Bi:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ColaboradorId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
