@model ColaboradorListView
@{
    Layout = "Layout";
    ViewData["Title"] = "Colaboradores";
}

<h2>Colaboradores do serviço de esterilização</h2>

<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Pesquisa</div>
            <div class="panel-body">
                <form asp-action="Index">
                    <div class="form-group">
                        <label asp-for="CurrentColaborador" class="control-label"></label>
                        <input asp-for="CurrentColaborador" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Pesquisar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Função
            </th>
            <th>
                Nome
            </th>
            <th>
                Contacto
            </th>

            <th>
                Cc/BI
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Colaborador)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcao.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cc)/
                    @Html.DisplayFor(modelItem => item.ColaboradorId)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ColaboradorId" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ColaboradorId" class="btn btn-info">Mais Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ColaboradorId" class="btn btn-danger">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div page-model="@Model.Pagination"></div>*@

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar Colaborador</a>
</p>