@model ServicoDeEsterelizacao.Models.Horario

@{
    ViewData["Title"] = "Apagar horário";
}

<h2>Apagar</h2>

<h3>Tem a certeza que quer apagar o horario do colaborador  @Html.DisplayFor(model => model.Colaborador.Nome)?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Inicio do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicioTurno)
        </dd>
        <dt>
            Fim do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFimTurno)
        </dd>
        <dt>
            Duração:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duracao) Horas
        </dd>

        <dt>
            Turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turno.Nome)
        </dd>
        <dt>
            Posto:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posto.Nome)
        </dd>
        <dt>
            Colaborador:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colaborador.Nome)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="HorarioID" />
        <a href="#Confirmacao" class="trigger-btn" data-toggle="modal">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </a> |
        <a asp-action="Index"><input type="button" value="Voltar atrás" class="btn btn-default" /></a>
    </form>

    <div id="Confirmacao" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Tem a certeza que deseja apagar? </p>
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="hidden" asp-for="HorarioID" />
                        <input type="submit" class="btn btn-danger" value="Eliminar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
