@model ServicoDeEsterelizacao.Models.Horario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataInicioManha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicioManha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFimManha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFimManha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicioTarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicioTarde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFimTarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFimTarde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turno.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Posto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posto.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colaborador.Cc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HorarioID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
