@model ServicoDeEsterelizacao.Models.Horario

@{
    Layout = "Layout";
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Horario ID :     @Html.DisplayFor(model => model.HorarioID)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Inicio do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicioTurno)
        </dd>
        <dt>
            Fim do turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFimTurno)
        </dd>
        <dt>
            Duração:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duracao) Horas
        </dd>

        <dt>
            Turno:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turno.Nome)
        </dd>
        <dt>
            Posto:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posto.Nome)
        </dd>
        <dt>
            Colaborador:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colaborador.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HorarioID" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
