@model IEnumerable<ServicoDeEsterelizacao.Models.Horario>

@{ 
    Layout = "Layout";
    ViewData["Title"] = "Index";
}

<h2>Horários</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.Cc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HorarioID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.HorarioID"class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.HorarioID" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar novo horario</a>
</p>