@model HorarioViewList

@{
    Layout = "Layout";
    ViewData["Title"] = "Horários do serviço de esterilização";
}

<h2>Gerar Horários</h2>
<form asp-action="Index">
    <div>
        <h3>Pesquisa</h3>
        <menu>
            <h5>Nome do colaborador:<input style="width:250px;" asp-for="CurrentColaborador" /></h5>
        </menu>
        <input type="submit" value="Pesquisar" class="btn btn-info" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-order="ID">HorarioId</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="DataInicioTurno">Data Inicio Turno</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="DataFimTurno">Data Fim Turno</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Duracao">Duração do turno</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Turno">Tipo de turno</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Posto">Posto</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Colaborador">Nome do Colaborador</a>
            </th>
            <th></th>
        </tr>
    </thead>



    <tbody>
        @foreach (var item in Model.Horario)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HorarioID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicioTurno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFimTurno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turno.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colaborador.Nome)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.HorarioID" class="btn btn-info">Mais Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.HorarioID" class="btn btn-danger">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div page-model="@Model.Pagination"></div>
<a href='@Url.Action("GerarHorario", "Horarios")'>
    <input type="button" class="btn btn-primary btn-lg" value="Gerar Novos Horários" />
</a>