@model HorarioViewList

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form asp-action="Index">
    <div>
        <h3>Pesquisa</h3>
        <menu>
            <h5>Nome do colaborador:<input style="width:250px;" asp-for="CurrentColaborador" /></h5>
        </menu>
        <input type="submit" value="Pesquisar" class="btn btn-info" />
    </div>
</form>
<h3>Gerar Horários</h3>
<a href='@Url.Action("GerarHorario", "Horarios")'>
    <input type="button" class="btn btn-info btn-lg btn-block" value="GERAR HORÁRIO" />
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                HorarioID
            </th>
            <th>
                DataInicioTurno
            </th>
            <th>
                Duracao
            </th>
            <th>
                DataFimTurno
            </th>
            <th>
                Turno
            </th>
            <th>
                Posto
            </th>
            <th>
                Colaborador
            </th>
            <th></th>
        </tr>
    </thead>





        <tbody>
            @foreach (var item in Model.Horario)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HorarioID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicioTurno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFimTurno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turno.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colaborador.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.HorarioID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.HorarioID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.HorarioID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
<h3>Gerar Horários</h3>
<a href='@Url.Action("GerarHorario", "Horarios")'>
    <input type="button" class="btn btn-info btn-lg btn-block" value="GERAR HORÁRIO" />
</a>
