@model HorarioViewList

@{
    ViewData["Title"] = "Index";
}

<h2>Horários</h2>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentColaborador" class="control-label"></label>
                    <input asp-for="CurrentColaborador" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                DataInicioManha
            </th>
            <th>
               DataFimManha
            </th>
            <th>
                DataInicioTarde
            </th>
            <th>
                DataFimTarde
            </th>
            <th>
                Turno
            </th>
            <th>
               Posto
            </th>
            <th>
                Colaborador:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Horario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioManha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimManha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioTarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimTarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.Cc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HorarioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HorarioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HorarioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
