@model HorarioViewList

@{ 
    Layout = "Layout";
    ViewData["Title"] = "Index";
}

<h2>Horários</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentColaborador" class="control-label"></label>
                    <input asp-for="CurrentColaborador" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Turno
            </th>
            <th>
                Posto
            </th>
            <th>
                Colaborador
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Horario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.Cc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HorarioID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.HorarioID"class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.HorarioID" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar novo horario</a>
    <a asp-area="" asp-controller="Regras" asp-action="Index" class="btn btn-info">Vizualizar Regras</a>
</p>

