@model IEnumerable<ServicoDeEsterelizacao.Models.Horario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador.Nome)
            </th>
            <th></th>
        </tr>
    </thead>


    <h3>Gerar Horários</h3>
    <a href='@Url.Action("GerarHorario", "Horarios")'>
        <input type="button" class="btn btn-info btn-lg btn-block" value="GERAR HORÁRIO" />



        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicioTurno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFimTurno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turno.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colaborador.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.HorarioID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.HorarioID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.HorarioID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
