@model IEnumerable<ServicoDeEsterelizacao.Models.Colaborador>

@{
    ViewData["Title"] = "Index";
}

<h2>Colaboradors</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssistenteOperacional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirServico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.funcao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enfermeiro.EnfermeirosID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssistenteOperacional.AssistenteOperacionalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirServico.DiretorServicoID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
