@model ServicoDeEsterelizacao.Models.Turno

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicioManha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraInicioManha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFimManha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFimManha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicioTarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraInicioTarde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFimTarde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFimTarde)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TurnoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
