@model IEnumerable<ServicoDeEsterelizacao.Models.Turno>

@{
     Layout = "Layout";
    ViewData["Title"] = "Turnos";
}

<h2>Turnos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Nome:
            </th>
            <th>
               Hora de início:
            </th>
            <th>
                Hora de fim:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurnoId" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TurnoId" class="btn btn-info">Mais Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TurnoId" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Turno</a>
</p>