@model TurnoViewList

@{
    ViewData["Title"] = "Index";
}

<h2>Turnos</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentNome" class="control-label"></label>
                    <input asp-for="CurrentNome" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome:
            </th>
            <th>
                HoraInicioManha:
            </th>
            <th>
                HoraFimManha
            </th>
            <th>
                .HoraInicioTarde
            </th>
            <th>
                HoraFimTarde
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Turno) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicioManha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFimManha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicioTarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFimTarde)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurnoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TurnoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TurnoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
