@model TurnoViewList

@{
    ViewData["Title"] = "Index";
}

<h2>Turnos</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentNome" class="control-label"></label>
                    <input asp-for="CurrentNome" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-order="ID">TurnoId</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Turno">Nome</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="HorainiM">HoraInicioManhã</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="HoraFM">HoraFimManhã</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="HoraIniT">HoraInicioTarde</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="HoraFT">HoraFimTarde</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Turno) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TurnoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicioManha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFimManha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicioTarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFimTarde)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TurnoId" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TurnoId" class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TurnoId" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar novo turno</a>
</p>
