@model ServicoDeEsterelizacao.Models.Trabalho_Posto

@{
    Layout = "Layout";
    ViewData["Title"] = "Delete";
}

<h2>Apagar</h2>

<h3>Tem a certeza que deseja apagar?</h3>
<div>
    <h4>Trabalho_Posto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trabalho_PostoID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trabalho_PostoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipamento.TipoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materialcs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materialcs.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Horario.HorarioID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataServico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataServico)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EquipamentoID" />
        <input type="hidden" asp-for="MaterialcsID" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index"class="btn btn-default">Voltar atrás</a>
    </form>
</div>
