@model Trabalho_PostoViewList

@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}

<h2>Tarefas</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentNome" class="control-label"></label>
                    <input asp-for="CurrentNome" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Equipamento
            </th>
            <th>
                Materialcs
            </th>
            <th>
                Estado
            </th>
            <th>
                Horario
            </th>
            <th>
                DataServico
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tarefa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trabalho_PostoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipamento.TipoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materialcs.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.HorarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataServico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Trabalho_PostoID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Trabalho_PostoID" class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Trabalho_PostoID" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar nova tarefa</a>
</p>