@model Trabalho_PostoViewList

@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}

<h2>Tarefas</h2>

<form asp-action="Index">
    <div>
        <h3>Pesquisa</h3>
        <menu>
            <h5>Nome do material:<input style="width:250px;" asp-for="CurrentNome" /></h5>
        </menu>
        <input type="submit" value="Pesquisar" class="btn btn-info" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>

            <th>
                <a asp-action="Index" asp-route-order="Equipamento">Equipamento</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Material">Material</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Estado">Estado</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Horario">Horario</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="DataServiço">Data De Serviço</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="Colab">Colaborador</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tarefa) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Equipamento.Tipo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materialcs.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.Colaborador.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Trabalho_PostoID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Trabalho_PostoID" class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Trabalho_PostoID" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div page-model="@Model.Pagination"></div>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar nova tarefa</a>
</p>