@model IEnumerable<ServicoDeEsterelizacao.Models.Trabalho_Posto>

@{
    Layout = "Layout";
    ViewData["Title"] = "Index";
}

<h2>Tarefas</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trabalho_PostoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materialcs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataServico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trabalho_PostoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipamento.TipoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materialcs.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.HorarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataServico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Trabalho_PostoID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Trabalho_PostoID" class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Trabalho_PostoID" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar nova tarefa</a>
</p>