@model IEnumerable<ServicoDeEsterelizacao.Models.Servico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.ColaboradorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.HorarioID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServicoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServicoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
