@model IEnumerable<ServicoDeEsterelizacao.Models.Funcao>

@{
    Layout = "Layout";
    ViewData["Title"] = "Funções";
}
<p></p>
<p></p>
<h2>Funções</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncaoID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FuncaoID" class="btn btn-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncaoID" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-default">Adcionar Função:</a>
</p>